/* CSS variables */
:root {
    --dark: violet;
    --light: white;
    --darker: navy;
}

/* Base styles */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    color: var(--light);
}

/* Header styles */
header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: var(--darker);
    padding: 50px;
}

h1 {
    font-size: 200%;
}

/* Main styles */
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
}

/* Card styles -- snippets go here */
.card {
    width: 300px;
    border: 3px dashed white;
    border-radius: 10px;
    padding: 1%;
}

.card h2 {
    font-size: 150%;
    padding: 3%;
    text-align: center;
    border: 1px solid white;
}

/* Descriptive text for the card */
.card-descrip {
    text-align: left;
    color: blue;
    margin-bottom: 1em;
}

/* container for the actual code snippet */
.card-code {
    background: linear-gradient(#e66465, #9198e5);
    padding: 15px;
}

/* Footer styles */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    padding: 25px;
    background-color: var(--darker);
}