/* CSS variables */
:root {
    --dark: violet;
    --light: white;
    --darker: navy;
    --text-color: blue;
}

/* Base styles */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    color: var(--light);
}

/* Header styles */
header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: var(--darker);
    padding: 50px;
}

header>h1 {
    font-size: 200%;
}

/* Main styles */
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
}

/* Card styles -- snippets go here */
.card {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    width: 300px;
    border: 3px dashed white;
    border-radius: 10px;
    padding: 1%;
}

.card h2 {
    font-size: 150%;
    padding: 3%;
    position: relative;
    margin-top: -20px;
    background-color: var(--dark);
    text-align: center;
    border: 1px solid white;
}

/* Descriptive text for the card */
.card-descrip {
    text-align: left;
    color: var(--text-color);
    margin-bottom: 1em; /* Based on <p> from w3schools.com */
}

/* container for the actual code snippet */
.card-code {
    background: linear-gradient(#e66465, #9198e5);
    padding: 15px;
}

pre, code {
/* Suggestions via https://css-tricks.com/considerations-styling-pre-tag/ */
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    overflow-x: auto;
    tab-size: 2;
}

/* Make .card-code glow */
.card-code {
    transition: all 0.5s ease-in-out;
}

.card-code:hover {
    box-shadow: inset 0px 0px 8px var(--light), 0 0 15px var(--light);
}

/* Select .card-code contents on click */
.card-code:active {
    user-select: all;
}

/* Footer styles */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    padding: 25px;
    background-color: var(--darker);
}