/* CSS variables */
:root {
    --dark: violet;
    --light: white;
    --darker: navy;
}

/* Base styles */
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    color: var(--light);
}

/* Header styles */
header {
    text-align: center;
    background-color: var(--darker);
    padding: 50px;
}

/* Main styles */
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
}

.card {
    width: 300px;
    border: 3px dashed white;
    border-radius: 10px;
    text-align: center;
    padding: 1%;
}

/* Footer styles */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    padding: 25px;
    background-color: var(--darker);
}